<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Please choose your account and then to take the chanllenge!{{Email}}</p>
<div>
    <ul>
        <li><a href="#/dashboard/overview">{{user1.bankName}}</a></li>
        <li><a href="#/dashboard/overview">{{user2.bankName}}</a></li>
        <li><a href="#/dashboard/overview">{{user3.bankName}}</a></li>
        <li><a href="#/dashboard/overview">{{user4.bankName}}</a></li>
        <li><a href="#/dashboard/overview">{{user1.bankName}}</a></li>
    </ul>
</div>
<button ng-click="start">Start My challange!</button>
</body>
</html>