<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
	<div class="container connectaccounts">

    <ul>
		<h3>Connect your account to begin the challenge!</h3>
        <a href="#/dashboard/overview"><li>{{user1.bankName}}</li></a>
            <a href="#/dashboard/overview"><li>{{user2.bankName}}</li></a>
            <a href="#/dashboard/overview"><li>{{user3.bankName}}</li></a>
             <a href="#/dashboard/overview"><li>{{user4.bankName}}</li></a>
            <a href="#/dashboard/overview"><li>{{user5.bankName}}</li></a>
             <a href="#/dashboard/overview"><li>{{user6.bankName}}</li></a>
    </ul>
	</div>
</body>
</html>